
.footer {
	/* position: relative; not needed*/
	background: #3b00b3; /* violet-ish */
	/* background-color: #292c2f; dark grey */
	/* see http://www.w3schools.com/css/css3_shadows.asp */
	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); i don't see a box-shadow... */
	/* see http://www.w3schools.com/css/css3_box-sizing.asp, box-sizing: border-box was applied for this footer, but i disabled/removed it, because the rest of the site doesn't have it. */	
	/* width: 100%;	not needed since footer wrapper*/	
	/* font: normal 16px sans-serif; disabled this, was already applied in rest of site */	
	height: 80px;	
	bottom: 0;
	position: fixed;
}
/*
.footer .footer-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.footer .footer-wrapper p.footer-left {	
	color: white;
	margin-left: 21px;
	padding-top: 10px;	
}


.footer .footer-wrapper p.footer-left a {
	display: inline-block;
	line-height: 1.7;
	text-decoration: none;
	color: inherit;
	font-size: 18px;
}

.footer .footer-wrapper p {	
	color: white;
	font-size: 14px;
	margin-left: 20px;
	margin-top: -5px;
}

.footer .footer-wrapper .footer-right {
	float: right;
	margin-right: 15px;
	margin-top: -17px;
}

.footer .footer-wrapper .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #2a0080;
	border-radius: 2px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
*/