/* GLOBAL */
body {
    /* default white background color and default black text color.
    Default font type and size for the site: */    
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
p {
    margin: 5px 0;
    line-height: 23px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color .5s ease;
}
/* for <div span="strong"></div> */

strong {
    font-weight: bold;
}
/* HEADER */

header {
    position: relative;
    width: auto;
    max-width: 1200px;
    /* The max-width has to be set for each section, including headers, footers etc. 
    A margin with 0 and auto values keeps the element (header in this case) centered in case 
    the browser width is larger than the max-width. Repeating the tip for margin: top right 
    bottom left (clockwise). Changing the margin's top en bottom values creates space between 
    the elements (in this case between header and spacer). See the layout testborder class at 
    the end of this stylesheet. 
    Space between elements can be useful if for example a partly transparent picture has to 
    come partly outside of the element. With the testborder you get a clear view of the invisible 
    borders of the elements. */
    
    margin: 0 auto;
    /* bottom:0 and left: auto can be omitted */
}
header h1 {
    /* ((Google-)fonts have their own embedded margins and paddings apparently, so should you want letters to touch the border of the element, negative margins have to be applied.) */    
    padding: 18px 0 7px 19px;
    font-family: 'Montserrat', cursive;
    font-size: 45px;
    color: #999;
}
header p {
    padding: 0 0 7px 142px;
    font-size: 19px;
}

/* BUTTONS */
.button {
    padding: 7px 14px;
    border: 1px solid #c3532e;
    background-image: linear-gradient(bottom, #E56038 0%, #ff8c66 100%);
    background-image: linear-gradient(to bottom, #ff8c66 0%, #E56038 100%);
    background-color: #eb653c;
    color: #ebe8de;
    text-shadow: 1px 1px 0px #ff8155;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3)
}

.button:hover {
    background: none #ebe8de;
    border-color: #ebe8de;
    text-shadow: none;
    color: #4a463b
}

/* MISC */
.clear {
    clear: both;
}
